.loading-wrap{
    display: none;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.unloading-wrap{
    display: none;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.rate-wrap{
    display: none;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.toll-wrap{
    display: none;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.tax-wrap{
    display: none;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.not-clickable {
    pointer-events: none;      
    background-color: #f2f2f2; 
    cursor: not-allowed;
}
