/**/

.table thead tr th {padding: 8px 15px; }
.table tbody td {  padding: 8px 20px;  font-size: 13px; }

/**/

/*dropzone*/
.dropzone {
    border: 2px dashed #dbdee0;
    padding: 20px;
    background: #fff;
    min-height: 120px;
}
/*dropzone*/

