
/**/

.main-wrap .addroute-bd {	margin: 0 15px;	padding: 30px 50px;	background: #fcfcfc;
	border-radius: 6px; }


body{
    background-color: #F4F6F8;
}








/**/







/*body {	overflow-x: hidden; }*/

/**/

.main-wrap .addroute-bd {	margin: 0 15px;	padding: 30px 50px;	background: #fcfcfc;
	border-radius: 6px; }

/* .btn-theme {	padding: 5px 10px !important; } */


body{
    background-color: #F4F6F8;
}
.nav-pills .nav-link{
    margin-bottom: 0;
}
/**/

/**/

.image01-sec { margin:0; padding:0; display: flex;flex-wrap: wrap;}
.image01-sec img {  width: 62px;object-fit: contain;margin: 6px; }

/**/





