
/**/

.main-wrap .addroute-bd {	margin: 0 15px;	padding: 30px 50px;	background: #fcfcfc;
	border-radius: 6px; }


.input-group>.form-control{
    height: 30px !important;
    min-height: 30px !important;
    padding: 5px 15px;
}


.table-hover tbody > tr:hover > * {
    background-color: #f4fbff !important;
}
.table tbody tr th {
    background-color: #f7f7fe;
    width: auto;
    min-width: 170px;
    font-size: 13px;
}
.addroute-bd{
    padding: 30px 0 !important;
}
.col-12.col-md-9.d-flex{
    flex-wrap: wrap;
    gap: 10px;
}





/**/





