.table thead tr th{
    vertical-align: middle;
}
.tag{
    padding: 2px 10px;
    border-radius: 20px;
    background-color: #e9f0ff;
    border: 1px solid #032671;
    display: inline-block;
    margin-bottom: 5px;
}