.color-pointer{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 18px;
    padding: 0 !important;
}
.chart-list p{
    font-size: .875rem;
    font-weight: 500;
    margin-bottom: 0;
}

.btn-theme{
    font-size: 14px;
    font-weight: 600;
    padding: 12px 25px;
}
.btn-theme i{
    font-size: 24px;
    font-weight: normal;
    vertical-align: middle;
    line-height: 32px;
    color: #ddd;
}
.total-wrap{
    font-size: 20px;
    color: #485D6B;
    font-weight: 600;
}
.total-wrap h6{
    font-size: 18px;
    font-weight: 600;
} 
.outer {
  position: relative;
  width: 100%;
  height: 180px;
}
#chartJSContainer {
  position: absolute;
  top: -25px;
}
.percent {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    bottom: 0;
    background: #fff;
    width: 130px;
    height: 130px;
    box-shadow: 0 5px 1.3125rem 0 rgba(0, 0, 0, .1);
    border-radius: 100%;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.client-list{
    padding: 14px 30px;
    transition:0.4s ease all;
}
.client-list:hover{
    background: #c8eaff;
}
.client-wrap .position-absolute{
    right: 10px;
    bottom: 10px;
}
.bootstrap-select{
    min-width: 150px !important;
    width: auto !important;
}
.bootstrap-select>.dropdown-toggle {
    min-height: 28px;
    padding: 5px 15px;
    border: 1px solid #d5d6dd;
    font-size: 14px;
}
.bootstrap-select.borderless-select{
    min-width: auto !important;
}
.bootstrap-select.borderless-select>.dropdown-toggle{
    border: 0;
    box-shadow: none;
}
/*.borderless-select .dropdown-item{*/
/*    display: block;*/
/*    border-bottom: 1px solid #f7f7f7;*/
/*}*/
.chart-param{
    position: absolute;
    top: 82px;
    left: -68px;
    right: 0;
}
.chart-list {
    padding-right: 20px;
}
.chart-param h3{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0px;
}
.chart-param h6{
    font-size: 17px;
    font-weight: 600;
    color: #757575;
}
.bootstrap-select .dropdown-menu li a:hover{
    background-color: #c8eaff;
}
.bootstrap-select .dropdown-menu .dropdown-item.active{
    /*background-color: #c8eaff;*/
    border-bottom: 1px solid #f7f7f7;
}

#myChart {
    width: 217px !important;
    height: 217px !important;
    margin-top: 15px;
}

.doughnut-wrap{
    padding-left: 0px;
}

.pointer-wrap{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.bill-wrap{
    padding: 35px 30px !important;
    padding-bottom: 0 !important;
}
.month-wrap{
    padding-top: 0px;
    padding: 25px 20px;
}
.view-all-wrap a{
    font-weight: 500;
    color: #485D6B;
}
/*a:hover{*/
/*    color: #7715CD;*/
/*}*/
.client-list p{
    color: #757575;
    font-size: 15px;
}
.text-dark-theme{
    font-size: 15px;
}
.modal-header{
    padding: 15px 25px;
}
.modal-body{
    padding: 20px 25px;
}
.btn-close i{
    font-size: 30px;
    color: #fff;
    position: relative;
    top: 0px;
}
.modal-buttons .btn {
    padding: 10px 30px;
}
.bootstrap-select .dropdown-menu{
    padding: 5px !important;
}
.bootstrap-select .dropdown-menu li a{
    padding: 12px 10px;
    font-weight: 500;
    font-size: 15px;
}
.bootstrap-select .dropdown-menu li:first-child a{
    border-bottom: 1px solid #ddd !important;
}
.custom-range{
    border-top: 1px solid #ddd;
}
#customRange .modal-body{
    height: 580px;
}
.daterangepicker:before{
    display: none;
}
.daterangepicker:after{
    display: none;
}
.daterangepicker{
    width: 350px !important;
    border: none;
    box-shadow: 0 6px 16px rgba(0 0 0 / 10%);
    margin-top: 0;
}
.daterangepicker .drp-calendar{
    max-width: 350px;
    width: 100%;
    padding: 15px 60px !important;
}
.daterangepicker .drp-calendar.left .calendar-table{
    padding-right: 0;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect{
    width: 90px;
    font-size: 17px;
    padding: 8px 5px;
    border: 0;
    margin-bottom: 10px;
    border-radius: 4px;
    /*font-weight: 600;*/
}
.daterangepicker select.monthselect{
    background: #FDFAFF;
    color: #7715CD;
    margin-right: 3%;
}
.daterangepicker select.yearselect{
    background: #FBFBFB;
    color: #656565;
}
.daterangepicker .prev.available{
    opacity: 0;
}
.daterangepicker .next.available{
    opacity: 0;
}
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td{
    line-height: 38px;
    color: #656565;
    min-width: 42px;
    width: 42px;
    height: 46px;
}
.daterangepicker .calendar-table th{
    font-weight: 700;
    font-size: 16px;
}
.daterangepicker .calendar-table td{
    font-size: 17px;
}
.cal-content{
    margin-top: -17px;
}
.cal-content input{
    opacity: 0;
    padding: 0;
    height: 0;
    min-height: 0;
}
.daterangepicker td.active , .daterangepicker td.active:hover{
    background-color: #7715CD;
    color: #fff !important;
    border: 0;
    border-radius: 50% !important;
}
/*.daterangepicker td.active:hover{*/
/*    background-color: #dcc2f2;*/
/*}*/
.input-icon{
    position: absolute;
    top: 10px;
    right: 22px;
}
.input-icon i{
    font-size: 18px;
    color: #777;
    font-weight: normal;
}
.input-date input{
    min-height: 44px;
    height: 44px;
}
/*.modal-title{*/
/*    font-size: 20px;*/
/*}*/
.card-header.chart-sec{
    padding-bottom: 0 !important;
}
.bootstrap-select.borderless-select button{
    padding: 0;
}
#setTarget .modal-dialog{
    max-width: 380px;
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .bill-wrap {
        padding: 25px 25px !important;
        padding-bottom: 0 !important;
    }
    .bootstrap-select .dropdown-menu li a{
        padding: 2px 10px; 
        font-weight: 500;
        font-size: 10px;
    }
    .btn-theme {
        font-size: 12px;
        font-weight: 500;
        padding: 13px 20px;
    }
    #myChart {
        width: 180px !important;
        height: 180px !important;
    }
    .chart-param h6 {
        font-size: 12px;
    }
    .chart-param h3 {
        font-size: 22px;
        margin: 0;
    }
    .chart-param { 
        top: 74px;
        left: -20px;
    }
    .doughnut-wrap {
        padding-left: 10px;
    }
    .color-pointer {
        width: 12px;
        height: 12px;
        margin-right: 10px;
    }
    .chart-list p {
        font-size: 11px;
    }
    .total-wrap{
        margin-top: 8px !important;
    }
    .total-wrap h6 {
        font-size: 13px;
    }
    .chart-list.mt-4{
        margin-top: 15px !important;
    }
    .pointer-wrap{
        margin-bottom: 8px;
    }
    .percent{
        width: 100px;
        height: 100px;
        font-size: 25px;
        top: 30px;
    }
    #myChart{
        margin-top: 0;
    }
    .chart-list.mt-5{
        margin-top: 20px !important;
    }
    .month-wrap{
        padding-top: 0px;
        padding-bottom: 10px !important;
    }
    /*.table thead tr th {*/
    /*    font-size: 10px;*/
    /*    padding: 3px 20px;*/
    /*}*/
    /*.table tbody tr td {*/
    /*    padding: 3px 20px;*/
    /*    font-size: 10px;*/
    /*}*/
    .month-wrap .text-dark-theme{
        font-size: 10px;
    }
    .client-list{
        font-size: 14px;
    }
    .client-list span{
        width: 30px;
        height: 30px;
        font-size: 10px;
        margin-right: 15px !important;
    }
    .client-list p {
        font-size: 11px;
    }
    .view-all-wrap a{
        font-size: 11px;
    }
    .btn-theme{
        padding: 2px 12px;
        font-weight: normal;
        border-radius: 4px;
        font-size: 10px;
    }
    .btn-theme i {
        font-size: 16px;
        margin-right: 5px !important;
    }
    hr{
        margin: 5px 0 !important;
    }
    .target-body{
        padding-top: 0 !important;
        padding: 10px 10px !important;
    }
    .card-header.pb-4{
        padding-bottom: 15px !important;
    }
    .card-body.pt-0.pb-5{
        padding-bottom: 20px !important;
    }
    .outer {
        height: 140px;
    }
    .bootstrap-select.borderless-select{
        width: auto !important;
    }
    .bootstrap-select.borderless-select>.dropdown-toggle{
        min-height: 20px;
        height: 20px;
    }
    .client-list {
        padding: 8px 30px;
    }
    .bootstrap-select>.dropdown-toggle {
        min-height: 30px;
        height: 30px;
        padding: 7px 10px;
        font-size: 10px;
        border: 1px solid #e8e9ec;
    }
    .form-control{
        border: 1px solid #e8e9ec;
    }
    /*.bootstrap-select{*/
    /*    width: 150px !important;*/
    /*}*/
    .dropdown-toggle::after{
        font-size: 12px !important;
        margin-top: -5px !important;
    }
    .invoice-wrap .dropdown-toggle::after{
        margin-top: -2px !important;
        left: 3px;
    }
    #inviteModal .text-start.fs-12{
        font-size: 10px !important;
    }
    .card-title{
        font-size: 15px;
    }
    .client-prewrap .card-header{
        padding-bottom: 0 !important;
    }
    .chart-list.mt-4{
        margin-top: 20px !important;
    }
    .client-prewrap .card-title{
        margin-bottom: 10px !important;
    }
    .bootstrap-select .dropdown-menu {
        padding: 2px !important;
    }
    .input-date input {
        min-height: 28px;
        height: 28px;
        font-size: 10px;
        padding: 8px 15px;
    }
    #customRange .input-icon {
        position: absolute;
        top: 0px !important;
        right: 15px !important;
    }
    .daterangepicker select.monthselect, .daterangepicker select.yearselect{
        font-size: 12px;
    }
    .daterangepicker .calendar-table th {
        font-size: 10px;
    }
    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
        line-height: 30px;
        color: #656565;
        min-width: 30px;
        width: 30px;
        height: 35px;
    }
    .daterangepicker .calendar-table td {
        font-size: 10px;
    }
    .input-group input {
        border-color: #e9eaed;
        min-height: 28px !important;
    }
    .modal-buttons .btn {
        padding: 5px 30px;
    }
    .input-group-text{
        font-size: 10px;
        min-height: 28px;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .bootstrap-select .dropdown-menu li a{
        padding: 5px 15px;
        font-size: 12px;
    }
    .card-title {
        font-size: 15px;
        text-align: center;
        margin-top: 20px;
    }
    .card-header.pb-4{
        padding-bottom: 0 !important;
    }
    .card-body{
        padding: 10px;
    }
    .doughnut-wrap{
        padding-left: 0;
        width: 185px;
        height: 185px;
        margin: 0 auto;
    }
    #myChart {
        width: 185px !important;
        height: 185px !important;
    }
    .chart-param {
        top: 72px;
        left: 0px;
    }
    .chart-param h3 {
        font-size: 26px;
        margin-bottom: 0;
    }
    .chart-param h6 {
        font-size: 17px;
    }
    .pointer-wrap {
        margin-bottom: 20px;
    }
    .color-pointer {
        width: 12px;
        height: 12px;
        margin-right: 10px;
    }
    .chart-list p {
        font-size: 13px;
        line-height: 16px;
    }
    .total-wrap h6 {
        font-size: 13px;
    }
    .page-title {
        margin-bottom: 0px;
        /*font-size: 18px !important;*/
    }
    .card{
        margin-top: 20px;
    }
    .bill-wrap {
        padding: 25px !important;
        padding-bottom: 0 !important;
    }
    .bill-wrap .card-title{
        margin-top: 0 !important;
        font-size: 16px;
        margin-bottom: 20px !important;
    }
    .bill-wrap .card-title.weight-600{
        font-size: 18px;
        margin-bottom: 0 !important;
    }
    .target-body{
        padding: 10px 50px !important;
    }
    .percent{
        width: 103px;
        height: 103px;
        top: 35px;
        font-size: 25px;
    }
    .outer{
        height: 110px;
    }
    .month-wrap{
        padding: 10px 20px;
    }
    .month-wrap a{
        font-size: 12px;
    }
    .bootstrap-select  button{
        font-size: 12px;
    }
    .invoice-wrap .row{
        flex-direction: column !important;
    }
    .invoice-wrap .card-title{
        margin-top: 0;
    }
    .invoice-wrap .bootstrap-select{
        margin-left: 0 !important;
        display: inline-block;
        width: 118px !important;
        border: none;
        float: right;
    }
    .invoice-wrap .bootstrap-select>.dropdown-toggle{
        border: none;
        box-shadow: none;
        font-size: 12px;
        padding: 5px;
        min-height: 28px;
        height: 28px;
    }
    .invoice-wrap .card-title.mb-0.weight-600{ 
        text-align: right;
        margin-top: 20px;
    }
    .margin-adjust hr{
        margin: 10px 0;
        margin-bottom: 0;
    }
    .invoice-table .table tbody tr td{
        padding: 0 5px;
        font-size: 12px;
    }
    .invoice-table .table tbody tr td p{
        font-size: 12px;
        margin-bottom: 0;
    }
    .invoice-table .table tbody tr td p:first-child{
        font-size: 13px;
    }
    .margin-adjust{
        padding: 0 !important;
    }
    .view-all-wrap a {
        font-size: 12px;
    }
    .client-prewrap .card-title{
        margin: 10px 0;
        margin-bottom: 10px !important;
    }
    .client-list {
        padding: 5px 20px;
    }
    .client-list span {
        width: 34px;
        height: 34px;
        font-size: 13px;
    }
    .client-list p {
        font-size: 13px;
    }
    .bootstrap-select.borderless-select>.dropdown-toggle{
        font-size: 12px !important;
    }
    .total-wrap{
        margin-top: 12px !important;
    }
    .bootstrap-select>.dropdown-toggle{
        min-height: 28px;
        padding: 4px 15px;
    }
    
    .input-icon {
        position: absolute;
        top: 9px !important;
        right: 15px !important;
    }
    .input-icon i{
        font-size: 16px;
    }
    .daterangepicker .drp-calendar {
        max-width: 344px;
        width: 100%;
        padding: 10px 45px !important;
    }
    .daterangepicker {
        width: 344px !important;
    }
    .daterangepicker select.monthselect, .daterangepicker select.yearselect{
        font-size: 14px;
    }
    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td{
        line-height: 28px;
        color: #656565;
        min-width: 28px;
        width: 28px;
        height: 38px;
    }
    .daterangepicker .calendar-table td {
        font-size: 12px;
    }
    #customRange label {
        font-size: 12px;
        margin-bottom: 5px;
    }
    #customRange .form-control{
        min-height: 40px;
        font-size: 12px;
        padding: 8px 15px;
        height: 40px;
    }
    .content {
        margin-top: 20px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    #chartJSContainer{
        top: -35px;
        width: 300px !important;
        height: 200px !important;
        left: 110px;
    }
    /*.target-body{*/
    /*    height: 250px;*/
    /*}*/
    .invoice-table .table tbody tr td {
        padding: 0 5px;
        font-size: 12px;
    }
    .invoice-table .table tbody tr td p:first-child {
        font-size: 13px;
    }
    .bootstrap-select .dropdown-menu li a{
        padding: 5px 15px;
        font-size: 12px;
    }
    .card-title {
        font-size: 15px;
        text-align: center;
        margin-top: 20px;
    }
    .card-header.pb-4{
        padding-bottom: 0 !important;
    }
    .card-body{
        padding: 10px;
    }
    .doughnut-wrap{
        padding-left: 0;
        width: 185px;
        height: 185px;
        margin: 0 auto;
    }
    #myChart {
        width: 185px !important;
        height: 185px !important;
    }
    .chart-param {
        top: 72px;
        left: 0px;
    }
    .chart-param h3 {
        font-size: 26px;
        margin-bottom: 0;
    }
    .chart-param h6 {
        font-size: 17px;
    }
    .pointer-wrap {
        margin-bottom: 20px;
    }
    .color-pointer {
        width: 12px;
        height: 12px;
        margin-right: 10px;
    }
    .chart-list p {
        font-size: 13px;
        line-height: 16px;
    }
    .total-wrap h6 {
        font-size: 14px;
    }
    .page-title {
        margin-bottom: 0px;
    }
    .card{
        margin-top: 20px;
    }
    .bill-wrap {
        padding: 25px !important;
        padding-bottom: 0 !important;
    }
    .bill-wrap .card-title{
        margin-top: 0 !important;
        font-size: 16px;
        margin-bottom: 20px !important;
    }
    .bill-wrap .card-title.weight-600{
        font-size: 18px;
        margin-bottom: 0 !important;
    }
    .target-body{
        padding: 10px 50px !important;
    }
    .percent {
        width: 133px;
        height: 133px;
        top: 40px;
        font-size: 30px;
    }
    .outer{
        height: 110px;
    }
    .month-wrap{
        padding: 10px 20px;
    }
    .month-wrap a{
        font-size: 12px;
    }
    .bootstrap-select  button{
        font-size: 12px;
    }
    .invoice-wrap .row{
        flex-direction: column !important;
    }
    .invoice-wrap .card-title{
        margin-top: 0;
    }
    .invoice-wrap .bootstrap-select{
        margin-left: 0 !important;
        display: inline-block;
        width: 118px !important;
        border: none;
        float: right;
    }
    .invoice-wrap .bootstrap-select>.dropdown-toggle{
        border: none;
        box-shadow: none;
        font-size: 12px;
        padding: 5px;
        min-height: 28px;
        height: 28px;
    }
    .invoice-wrap .card-title.mb-0.weight-600{ 
        text-align: right;
        margin-top: 20px;
    }
    .margin-adjust hr{
        margin: 10px 0;
        margin-bottom: 0;
    }
    .invoice-table .table tbody tr td{
        padding: 10px 5px;
        font-size: 13px;
    }
    .invoice-table .table tbody tr td p{
        font-size: 12px;
        margin-bottom: 0;
    }
    .margin-adjust{
        padding: 0 !important;
    }
    .view-all-wrap a {
        font-size: 12px;
    }
    .client-prewrap .card-title{
        margin: 10px 0;
        margin-bottom: 10px !important;
    }
    .client-list {
        padding: 5px 20px;
    }
    .client-list span {
        width: 34px;
        height: 34px;
        font-size: 13px;
    }
    .client-list p {
        font-size: 13px;
    }
    .bootstrap-select.borderless-select>.dropdown-toggle{
        font-size: 12px !important;
    }
    .bootstrap-select>.dropdown-toggle{
        min-height: 28px;
        padding: 4px 15px;
    }
    
    .input-icon {
        position: absolute;
        top: 9px !important;
        right: 15px !important;
    }
    .input-icon i{
        font-size: 16px;
    }
    .daterangepicker .drp-calendar {
        max-width: 344px;
        width: 100%;
        padding: 10px 15px !important;
    }
    .daterangepicker {
        width: 344px !important;
    }
    .daterangepicker select.monthselect, .daterangepicker select.yearselect{
        font-size: 14px;
    }
    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td{
        line-height: 28px;
        color: #656565;
        min-width: 34px;
        width: 34px;
        height: 46px;
    }
    .daterangepicker .calendar-table td {
        font-size: 12px;
    }
    .content {
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .btn-theme i {
        font-size: 18px;
    }
    .btn-theme {
        font-size: 12px;
        font-weight: 500;
        padding: 8px 15px;
    }
    .doughnut-wrap {
        padding-left: 0px;
    }
    #myChart {
        width: 250px !important;
        height: 250px !important;
    }
    .chart-param {
        position: absolute; 
        top: 98px;
        left: -92px;
        right: 0;
    }
    .chart-param h3 {
        font-size: 28px;
    }
    .chart-param h6 {
        font-size: 16px;
    }
    .chart-list p {
        font-size: 14px;
    }
    .pointer-wrap{
        margin-bottom: 15px;
    }
    .color-pointer {
        width: 12px;
        height: 12px;
    }
    .total-wrap{
        margin-top: 15px !important;
    }
    .total-wrap h6 {
        font-size: 16px;
    }
    .bootstrap-select>.dropdown-toggle{
        min-height: 28px;
        padding: 4px 15px;
        font-size: 14px;
    }
    .table thead tr th {
        padding: 14px 20px;
    }
    .table tbody tr td {
        padding: 20px 30px;
        font-size: 14px;
    }
    .view-all-wrap a{
        font-size: 13px;
    }
    .card.widget {
        margin-bottom: 20px;
    }
    #chartJSContainer{
        top: -14px;
        width: 300px !important;
        height: 200px !important;
        left: 270px;
    }
    /*.target-body{*/
    /*    height: 400px;*/
    /*}*/
    .percent{
        top: 60px;
    }
    .text-dark-theme {
        font-size: 14px;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    #myChart {
        width: 220px !important;
        height: 220px !important;
    }
    .chart-param {
        position: absolute;
        top: 86px;
        left: -3px;
        right: 0;
    }
    .chart-param h3 {
        font-size: 28px;
    }
    .chart-param h6 {
        font-size: 16px;
    }
    .doughnut-wrap {
        padding-left: 0px;
    }
    .chart-list p {
        font-size: 14px;
    }
    .color-pointer {
        width: 12px;
        height: 12px;
    }
    .pointer-wrap{
        margin-bottom: 15px;
    }
    .total-wrap h6 {
        font-size: 16px;
    }
    .total-wrap {
        margin-top: 15px !important;
    }
    .bill-wrap {
        padding-bottom: 0 !important;
    }
    .percent{
        width: 120px;
        height: 120px;
        top: 40px;
        font-size: 30px;
    }
    .month-wrap{
        padding: 5px 15px !important;
    }
    .text-dark-theme {
        font-size: 12px;
    }
    .bootstrap-select>.dropdown-toggle {
        min-height: 28px;
        padding: 4px 15px;
        font-size: 12px;
    }
    .invoice-wrap .bootstrap-select {
        width: 150px !important;
    }
    .table thead tr th {
        padding: 8px 10px;
        font-size: 13px;
    }
    .table tbody tr td {
        padding: 12px 12px;
        font-size: 13px;
    }
    .client-prewrap .card-header{
        padding-bottom: 0 !important;
    }
    .client-list span {
        width: 35px;
        height: 35px;
        font-size: 12px;
        margin-right: 15px !important;
    }
    .client-list {
        padding: 10px 30px
    }
    .client-list p {
        font-size: 13px;
    }
}

@media (min-width: 320px) and (max-width: 370px){
    .daterangepicker{
        width: 100% !important;
    }
    .daterangepicker .drp-calendar{
        max-width: 100% !important;
        padding: 10px 35px !important;
    }
    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td{
        height: 28px;
    }
    .daterangepicker .calendar-table th{
        font-size: 12px;
    }
}

@media (min-width: 1400px) and (max-width: 1650px){
    .card-title{
        font-size: 18px;
    }
    .btn-theme i {
        font-size: 20px;
    }
    .btn-theme{
        font-size: 12px;
        padding: 8px 20px;
        font-weight: 600;
    }
    .card-header {
        padding: 20px 30px !important;
    }
    .bill-wrap{
        padding: 30px 20px 0 !important;
    }
    #myChart {
        width: 217px !important;
        height: 217px !important;
    }
    .chart-param {
        position: absolute;
        top: 85px; 
        left: -38px; 
        right: 0;
    }
    .chart-param h3 {
        font-size: 28px;
    }
    .chart-param h6 {
        font-size: 15px;
    }
    .color-pointer {
        width: 15px;
        height: 15px;
    }
    .chart-list p {
        font-size: .875rem;
    }
    .pointer-wrap{
        margin-bottom: 14px;
    }
    .total-wrap h6 {
        font-size: 16px;
        font-weight: 600;
    }
    .percent{
        font-size: 30px;
        top: 35px;
        width: 110px;
        height: 110px;
    }
    .outer{
        height: 170px;
    }
    .month-wrap{
        padding: 15px;
    }
    .bootstrap-select {
        min-width: 150px !important;
        width: auto !important;
    }
    .text-dark-theme {
        font-size: 12px;
    }
    .bootstrap-select.borderless-select>.dropdown-toggle{
        padding: 0;
        width: auto;
        background: transparent;
    }
    .bootstrap-select>.dropdown-toggle{
        font-size: 12px;
        padding: 2px 15px;
    }
    .table tbody tr td{
        font-size: 12px;
        padding: 10px 40px;
    }
    .table thead tr th{
        font-size: 12px;
        padding: 8px 40px;
    }
    
    .bootstrap-select>.dropdown-toggle{
        min-height: 26px;
    }
    .client-list span{
        width: 35px;
        height: 35px;
        font-size: 14px;
        font-weight: 600;
    }
    .client-list p{
        font-size: 13px;
    }
    
    .client-prewrap .card-header{
        padding-bottom: 0 !important;
    }
    .margin-adjust hr{
        margin: 0;
    }
    .modal-header {
        padding: 15px 25px;
    }
    .modal-title{
        font-size: 16px;
    }
    .btn-close i {
        font-size: 27px;
        top: -2px;
    }
    .modal-body {
        padding: 20px 25px;
    }
    #customRange .modal-body {
        height: 480px;
    }
    .doughnut-wrap {
        padding-left: 0px;
    }
    .bootstrap-select .dropdown-menu li a{
        padding: 6px 8px;
        font-size: 12px;
    }
    .pre-input input{
        min-height: 42px !important;
        font-size: 13px;
    }
    .pre-input .input-group-text{
        min-height: 42px;
        font-size: 13px;
    }
    .modal-buttons .btn {
        padding: 8px 30px;
        font-size: 13px;
    }
}