.status-wrap input{
    display: none;
}
.status-wrap label{
    padding: 3px 25px;
    border: 1px solid #d4d6db;
    border-radius: 20px;
}
.status-wrap input:checked + label{
    background-color: #032671;
    color: #fff;
    border: 1px solid #032671;
}
