.trip-bd {
    margin: 0;
}
.trip-bd .top-text {
    margin: 0;
    padding: 0;
    box-shadow: 0px 1px 3.3px 0px #00000040;
}
.trip-bd .top-text h1 {
    margin: 0;
    padding: 11px 0;
    font-family: Inter;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 2%;
}

.trip-bd .itemvehicles-bd {
    margin: 0;
    padding: 27px 0;
}
.trip-bd .itemvehicles-bd .itemv-box {
    margin: 0;
    padding: 0;
}
.trip-bd .itemvehicles-bd .itemrow { 
    margin: 0 -9px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.trip-bd .itemvehicles-bd .itemcol {
    /*padding: 8px 15px;*/
    /*width: 20%;*/
    /*background: #fff;*/
    /*margin: 0 10px;*/
    /*border-radius: 10px;*/
    /*border-left: 2px solid #032671;*/
    margin: 0;
    padding: 0 9px;
    width: 20%;
}
.trip-bd .itemvehicles-bd .itemcol .itembd {
    margin: 0;
    padding: 10px 15px;
    border: 1px solid #858b99;
    border-radius: 13px;
    position: relative;
    background: #fff;
    background: linear-gradient(149deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 72%, rgba(133, 139, 153, 0.59) 100%);
}

.trip-bd .itemvehicles-bd .itemcol .top {
    margin: 0;
    padding: 0;
    width: 83%;
}
.trip-bd .itemvehicles-bd .itemcol .top .number {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;
}
.trip-bd .itemvehicles-bd .itemcol .top p {
    margin: 0;
    padding: 6px 0 0 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0%;
    color: #5c5c5c;
}

.trip-bd .itemvehicles-bd .bottom {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:12px; }
    
.trip-bd .itemvehicles-bd .bottom .item1 {
    margin: 0;
    padding: 4px;
    width: 56px;
    height: 22px;
    background: #cad5e8;
    display: flex;
    font-family: Inter;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0%;
    border-radius: 50px;
    align-items: center;
}
.trip-bd .itemvehicles-bd .bottom .item1 img {
    width: 17px;
    height: 15px;
    padding-right: 2px;
    object-fit: contain;
}

.trip-bd .itemvehicles-bd .bottom .item2 {
    margin: 0;
    padding: 0 8px;
    font-family: Inter;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #868686;
}

.trip-bd .itemvehicles-bd .bottom .item3 {
    margin: 0;
    padding: 0;
}
.trip-bd .itemvehicles-bd .bottom .item3 img {
}

.trip-bd .itemvehicles-bd .item-icon {
    margin: 0;
    padding: 0;
    position: absolute;
    right: -2px;
    top: -2px;
    background: #000;
    background: rgba(247, 246, 249);
    border-radius: 100%;
}
.trip-bd .itemvehicles-bd .item-icon span {
    margin: 0;
    padding: 0;
    width: 44px;
    height: 44px;
    display: inline-flex;
    background: #cad5e8;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0px 0px 0px 5px rgb(247, 246, 249);
}
.trip-bd .itemvehicles-bd .item-icon span img {
    width: 14px;
    height: 14px;
    object-fit: contain;
}

/**/

/*====*/


.trip-bd .filter-options {padding: 0;	border: 1px solid #E8E8E8;	border-radius: 6px; }

.trip-bd .filter-options .item-filter { margin:0; padding:11px 19px; display: flex;align-items: center;border-bottom: 1px solid #DFDFDF;}

.trip-bd .filter-options .item-filter .filter-icon {	margin: 0 12px 0 0;	padding: 0;	background: #032671;
	border-radius: 4px; width: 33px;	height: 32px;	display: inline-flex;
	align-items: center;	justify-content: center;	cursor: pointer; }

.trip-bd .filter-options .item-filter .filter-icon img { object-fit: contain;width: 19px;height: 19px;}

.trip-bd .filter-options .item-filter p { margin:0; padding:0; font-family: Inter;font-weight: 500;color: #21263C;font-size: 17px;line-height: 100%;letter-spacing: 0%;text-transform: capitalize;}

.trip-bd .filter-options .filterbd {  margin:0; padding:13px 7px;}

.trip-bd .filter-options .filterbd .item-row01 { margin:0; padding:0; }
.trip-bd .filter-options .filterbd .item-row01 label { margin:0; padding:0 0 5px 0; font-family: Inter;font-weight: 500;font-size: 13px;line-height: 19px;letter-spacing: 0%;color: #606060;display: block;}
.trip-bd .filter-options .filterbd .item-row01 .input-wrapper {   margin:0;padding: 0;width: 100%;display: flex;align-items: center;border: 2px solid #c7c2c2;border-radius: 3px;}

.trip-bd .filter-options .filterbd .item-row01 .input-wrapper .itemtext {   margin: 0;padding: 11px 15px;font-family: Inter;font-weight: 500;font-size: 13px;line-height: 19px;letter-spacing: 0%;width: 100%;background: #fff;border: 0;color: #606060;}
.trip-bd .filter-options .filterbd .item-row01 .input-wrapper .itemtext:focus-visible {
    box-shadow: none; outline: 0; }

.trip-bd .filter-options .filterbd .item-row01 .input-wrapper .clear-btn {margin: 0;	padding: 0;	width: 45px;	height: 43px;
 background: #032671; display: flex;	align-items: center; justify-content: center; border-radius: 0 2px 2px 0px; cursor: pointer;	border: 0; }

.trip-bd .filter-options .filterbd .item-row01 .input-wrapper .clear-btn .uil { color:#fff; font-size: 18px;line-height: 24px;}

.trip-bd .filter-options .filterbd .item-row02 { margin:0; padding:0; justify-content: end;align-items: end;}
.trip-bd .filter-options .filterbd .item-row02 label { margin:0; padding:0 0 5px 0; font-family: Inter;font-weight: 500;font-size: 13px;line-height: 19px;letter-spacing: 0%;color: #606060;display: block;}
.trip-bd .filter-options .filterbd .item-row02 .input-wrapper {   margin:0;padding: 0;width: 100%;display: flex;align-items: center;border: 2px solid #c7c2c2;border-radius: 3px;}
.trip-bd .filter-options .filterbd .item-row02 .input-wrapper .itemtext {   margin: 0;padding: 11px 15px;font-family: Inter;font-weight: 500;font-size: 13px;line-height: 19px;letter-spacing: 0%;width: 100%;background: #fff;border: 0;color: #606060;}
.trip-bd .filter-options .filterbd .item-row02 .input-wrapper .itemtext:focus-visible {
    box-shadow: none; outline: 0; }

.trip-bd .filter-options .filterbd .item-row02 .input-wrapper .clear-btn {margin: 0;	padding: 0;	width: 46px;	height: 43px;
 background: #032671; display: flex;	align-items: center; justify-content: center; border-radius: 0 2px 2px 0px; cursor: pointer;	border: 0; }

.trip-bd .filter-options .filterbd .item-row02 .input-wrapper .clear-btn .uil { color:#fff; font-size: 18px;line-height: 24px;}

.trip-bd .filter-options .filterbd .item-row02 .input-wrapper .item-select select {   -webkit-appearance:none;   -moz-appearance:none;   -ms-appearance:none;
   appearance:none;   outline:0;   box-shadow:none;   border:0!important;      background-image: none;      cursor:pointer;   flex: 1;   font-family: Inter;
   font-weight: 500;   font-size: 13px;   line-height: 19px;   letter-spacing: 0%;   width: 100%;   background: #fff;   border: 0;
   color: #606060; padding: 12px 15px; }

.trip-bd .filter-options .filterbd .item-row02 .input-wrapper .item-select {   position: relative;
   display: flex;         line-height: 3;  background: #5c6664;   overflow: hidden; width: 100%; }
   
.trip-bd .filter-options .filterbd .item-row02 .input-wrapper .item-select::after {	content: '\f107';	position: absolute;
	top: -2px;	right: 0;	padding: 0 14px;	cursor: pointer;	pointer-events: none;
	transition: .25s all ease;	color: #fff;	background: #032671;	font-family: "FontAwesome"; }
	
.trip-bd .filter-options .filterbd .item-row02 .input-wrapper .item-select:hover::after { color: #23b499; }


.trip-bd .filter-options .filterbd .item-row02 .input-wrapper .search_rcnumber {
	margin: 0;	padding: 0;	display: flex;	align-items: center;
	width: 100%;	/* border: 2px solid #c7c2c2; */	border-radius: 3px; }

.trip-bd .filter-options .filterbd .item-row02 .input-wrapper .search_rcnumber .input-lt {
    margin: 0;    padding: 0;    display: flex;    align-items: center;    width: 100%; }

.trip-bd .filter-options .filterbd .item-row02 .input-wrapper .search_rcnumber .input-lt .input_search {
    margin: 0;    padding: 11px 15px;    font-family: Inter;    font-weight: 500;    font-size: 13px;    line-height: 19px;
    letter-spacing: 0%;    width: 100%;    background: #fff;    border: 0;    border-radius: 3px 0 0 3px;    color: #606060; }

.trip-bd .filter-options .filterbd .item-row02 .input-wrapper .search_rcnumber .input-lt .input_search::placeholder {
    box-shadow: none;    border: 0; }
.trip-bd .filter-options .filterbd .item-row02 .input-wrapper .search_rcnumber .input-lt .input_search:focus {
    box-shadow: none;    border: 0; }

.vehicleinfo-wrap .filter-options .filterbd .item-row02 .input-wrapper .search_rcnumber .input-lt .input_search:focus-visible {
    box-shadow: none;    outline: 0; }

.trip-bd .filter-options .filterbd .item-row02 .input-wrapper .search_rcnumber .input-lt .searchbtn {
    margin: 0;    padding: 0;    width: 36px;    height: 43px;
    background: #032671;    display: flex;    align-items: center;
    justify-content: center;    cursor: pointer; }
.trip-bd .filter-options .filterbd .item-row02 .input-wrapper .search_rcnumber .input-lt .searchbtn .uil {
    margin: 0;    padding: 0;    color: #fff; }

.trip-bd .filter-options .filterbd .item-row02 .input-wrapper .search_rcnumber .input-reset {
    margin: 0;    padding: 0;    border-left: 1px solid #c7c2c2; }

.trip-bd .filter-options .filterbd .item-row02 .input-wrapper .search_rcnumber .input-reset .refresh-btn {
    margin: 0;    padding: 0;    width: 34px;    height: 43px;    background: #032671;    display: flex;
    align-items: center;    justify-content: center;    border-radius: 0 2px 2px 0px;    color: #fff; }

.trip-bd .filter-options .filterbd .item-row02 .fxportbtn {	margin: 0 0 0 8px;	padding: 16px 0;	min-width: 114px;
	background: #032671;	color: #fff;	font-family: Inter;
	font-weight: 500;	font-size: 13px;	line-height: 100%;	letter-spacing: 0%;
	text-transform: initial;		max-width: 100%; }

.trip-bd .filter-options .filterbd .item-row02 .fxportbtn .uil {	margin: 0;	padding: 0; }

/*====*/

/*====*/

.trip-bd .totalrevenue { margin-top:20px; padding:20px 18px; background: #fff;border: 1px solid #E8E8E8;border-radius: 6px;}
.trip-bd .totalrevenue .item-row { margin:0; background: #e7edfb; padding:15px 26px; display: flex;align-items: center;justify-content: space-between; border: 1px solid #E8E8E8;border-radius: 6px;}
.trip-bd .totalrevenue .item-row .itemcol {
    padding: 8px 15px;
    width: 20%;
    background: #fff;
    margin: 0 10px;
    border-radius: 10px;
    border-left: 2px solid #032671;
}
.trip-bd .totalrevenue .item-row .itemcol .number { margin:0; padding:0; font-family: Inter;font-weight: 400;font-size: 16px;line-height: 19px;letter-spacing: 0%;}
.trip-bd .totalrevenue .item-row .itemcol p { margin:0; padding:0 0 4px 0; font-family: Inter;font-weight: 400;color: #5E5E5E;font-size: 13.89px;line-height: 100%;letter-spacing: 0%;}

.trip-bd .totalrevenue .item-row .itemcol .number.c-01 { color:#56CA00; }
.trip-bd .totalrevenue .item-row .itemcol .number.c-02 { color:#E59E04; }
.trip-bd .totalrevenue .item-row .itemcol .number.c-03 { color:#E039E9; }
.trip-bd .totalrevenue .item-row .itemcol .number.c-04 { color:#EE2B2B; }
.trip-bd .totalrevenue .item-row .itemcol .number.c-05 { color:#56CA00; }
.trip-bd .totalrevenue .item-row .itemcol .number.c-06 { color:#4756FF; }

/*====*/


/**/

.trip-bd .vehiclestable {    margin: 0;    padding: 26px 0;    background: #f5f5f5; }

/**/


.trip-bd .vehiclestable .itemtop { margin:0; padding:0 0 16px 0; display: flex;align-items: center;justify-content: space-between;}
.trip-bd .vehiclestable .itemtop .addtripbtn { margin: 0;padding: 11px 20px;font-family: Inter;font-weight: 500;color: #fff;font-size: 13px;line-height: 100%;letter-spacing: 0%;background: #032671;border-radius: 4px;}

.trip-bd .vehiclestable .sec-title { margin:0; padding:0; font-family: Inter;
font-weight: 500; font-size: 17px; color:#21263C;line-height: 100%;
letter-spacing: 0%; display:block; }

/**/



/* Card */

.trip-bd .vehiclestable .color-left01 {  border-left: 6px solid #3BE4F6; }

.trip-bd .vehiclestable .color-left02 { border-left: 6px solid #3B5AF6; }

.trip-bd .vehiclestable .color-left03 { border-left: 6px solid #E6CA2A; }

.trip-bd .vehiclestable .vehicle-card {	background: #ffffff;	border-radius: 10px;
	display: flex;	align-items: center;	padding: 21px 45px;
	margin: 0 0 10px 0; }

/*--Left Accent & Icon--*/


/*--Info-Grid--*/

.trip-bd .vehiclestable .info-grid {    display: flex;    align-items: center;    justify-content: space-between;
    width: 100%; }


.trip-bd .vehiclestable .label {    font-family: Inter;    font-weight: 400;    font-style: Regular;
    font-size: 12px;    color: #787f92;    leading-trim: NONE;    line-height: 100%;
    letter-spacing: 0%; }

.trip-bd .vehiclestable .value {    font-family: Inter;    font-weight: 500;    font-size: 12px;
    line-height: 100%;    letter-spacing: 0%;    margin: 0;
    padding: 4px 0 0 0; }

.trip-bd .vehiclestable .actions { display: flex;    align-items: center;    justify-content: flex-end; }

.trip-bd .vehiclestable .actions .edti-delet { margin:0; padding:0; display: flex;}
.trip-bd .vehiclestable .actions .edti-delet li { margin:0; padding:0; display: inline-block;}
.trip-bd .vehiclestable .actions .edti-delet li .item-edit { margin:0; padding:0; display: inline-block; }
.trip-bd .vehiclestable .actions .edti-delet li .item-edit .uil { margin: 0;padding: 0;color: #0C637F;font-size: 15px;line-height: 21px;}



/* Button */

.trip-bd .vehiclestable .actions {  display: flex; align-items: center;
    justify-content: flex-end; margin-left: 30px; }

.trip-bd .vehiclestable .btn {    margin: 0;    padding: 11px 17px;    font-family: Inter;    font-weight: 500;
    font-size: 11px;    line-height: 100%;    letter-spacing: 0%;
    color: #1F2B44;    border: 1px solid #1F2B44 !important; }

.trip-bd .vehiclestable .btn:hover { background:#032671;    color: #fff;    border-color: #1F2B44; }

.trip-bd .vehiclestable .vehicle-card:hover { transform: translateY(-2px);   transition: transform 160ms;
    box-shadow: 0 10px 28px rgba(16, 24, 40, 0.08); }

/*trip-bd*/
.input-group-text{    height: 35px !important;}
.input-group input{    height: 35px !important;    min-height: 35px !important;    font-size: 13px; }
/**/

/*.trip-bd-.filterbd*/

.trip-bd .filterbd .filtersearch-bd { margin: 0;	padding: 0;	display: flex;	align-items: center;
	/* flex-wrap: wrap; */	justify-content: space-around; }

.trip-bd .filterbd .filtersearch-bd .vehicletype {	margin: 0;	padding: 0; width: 24%; }

.trip-bd .filterbd .searchfield .dropdown .btn { line-height: 18px; }

.trip-bd .filterbd .searchfield .dropdown .btn::after {	color: #fff; }
	
	

/*.trip-bd-.filterbd*/

.add-stop{
    display: none;
}
.removeStop{
    cursor: pointer;
}
.select2-container{
    width: 100%;
}

.vehiclestable .vehicle-card{
    padding: 10px 28px;
}
.vehiclestable {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    overflow: hidden;
    margin-top: 0;
    border-radius: 10px;
}
.nav-pills .nav-link.transaction-tab{
    padding: 15px 15px !important;
    background-color: #032671 !important;
    border-radius: 4px !important;
    text-align: center !important;
    color: #fff !important;
}
.timeline-wrap .nav-pills .nav-link.transaction-tab:before{
    display: none;
}

.table tbody tr th {
    background-color: #f7f7fe;
    padding: 3px 20px;
    font-size: 12px;
}
.table tbody tr td{
    padding: 3px 20px;
    font-size: 12px;
}
.dropdown-toggle::after{
    font-size: 10px;
}

.imageThumb {
    height: 60%;
    width: 100%;
    cursor: pointer;
    object-fit: contain;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
  width: 120px;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 160px;
  /*display: inline-flex;*/
  /*justify-content: center;*/
  /*flex-direction: column;*/
  position: relative;
}
.remove {
    background: rgba(0 0 0 / 80%);
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.remove:hover {
  background: white;
  color: black;
}

.upload_file input{
    display: none;
}
.file-name-wrap{
    border-top: 1px solid #ddd;
    padding: 14px 5px;
    margin-top: 10px;
    padding-bottom: 0;
}
.file-name-wrap p{
    margin: 0;
    font-size: 12px;
    line-height: 4px;
}
.file-name-wrap small{
    font-size: 10px;
}
.right-overlay {
    width: 480px;
    border-left: 2px solid #ddd;
    position: fixed;
    top: 60px;
    right: -480px;
    background: #fff;
    overflow-y: auto;
    height: 100%;
    z-index: 999;
    transition: 0.4s ease all;
    border-radius: 10px;
    box-shadow: -5px -5px 10px rgba(0 0 0 / 30%);
}
.overlay-header {
    padding: 8px 20px;
    border-bottom: 1px solid #ccc;
}
.overlay-body {
    padding: 25px 20px;
    padding-bottom: 50px;
}
.right-overlay.attachment-popup.show {
    right: 0;
}
.right-overlay.map-popup.show {
    right: 0;
}

.right-overlay.bill-popup{
    right: -1200px;
    top: 237px;
    width: calc(100% - 350px);
    position: fixed;
    padding-bottom: 200px;
}
.right-overlay.bill-popup.show {
    right: 0;
    
}
.right-overlay p{
    font-size: 13px;
}
.right-overlay small{
    font-size: 13px;
}
.history-wrap .list-group-item span{
    font-size: 14px;
    line-height: 14px;
}
.history-wrap .list-group-item small{
    font-size: 12px;
}
/*.vehiclestable .info-grid{*/
/*    display: block;*/
/*}*/

.vehicle-allocation .form-check{
    padding-left: 0;
    position: relative;
}
.vehicle-allocation .form-check input{
    position: absolute;
    left: 45px;
    top: 10px;
}
.vehicle-allocation .form-check .vehicle-card {
    padding-left: 45px;
}
.vehicle-allocation .form-check .vehicle-card:hover{
    transform: none;
    transition: transform 160ms;
    box-shadow: none;
}
.separator{
    position: relative;
}
.separator span{
    background: #032671;
    color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 14px;
    position: absolute;
    top: -10px;
    left: 50%;
}
.veh-type-wrap .form-check {
    position: relative;
    padding-left: 0;
}
.veh-type-wrap input{
    position: absolute;
    left: 30px;
    top: 4px;
}
.veh-type-wrap label{
    border-radius: 30px;
    border: 1px solid #032671;
    padding: 3px 20px;
    padding-left: 33px;
    color: #032671;
}
.card-body{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0 0 0 / 10%);
}
